img{
    width: 400px;
}
            
#thirdDiv {
    height: 600px; 
    width: 500px; 
    background-color: cadetblue; 
    padding: 50px; 
    border: 1px solid black ;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto
}

#spanId {
    font-size: 18px; 
    margin: 50px;
}

.divClass {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto
}

body {
    height: 500px;
    background-image: url("https://cdn.mer-cat.com/senorburger/1320x385/img/banners/banner_sr_burger_1650385920j0PpDe.jpg?pass=eyJhbGciOiJIUzI1NiJ9.eyJkYXRhIjoiMTMyMHgzODUvaW1nL2Jhbm5lcnMvYmFubmVyX3NyX2J1cmdlcl8xNjUwMzg1OTIwajBQcERlLmpwZyJ9.ajx3kagHrlG5GhUPV1a44ixQxYKdiUfv7MFF1CXA1FU");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: 10rem; 
}

div{
    height: 200px;
    justify-content: center;
    align-items: center;
}